<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
    <li class="nav-item nav-category">Dashboard</li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="mdi mdi-periodic-table menu-icon text-primary"></i>
          <span class="menu-title">Highlight</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/bed_selection">
          <i class="c-blue mdi mdi-badge-account-horizontal-outline menu-icon custom-icon-color text-primary"></i>
          <span class="menu-title">Bed Selection</span>
        </a>
      </li>
      <li class="nav-item nav-category">Analytics</li>
      <li class="nav-item">
        <a class="nav-link" href="/treatment_history">
          <i class="mdi mdi-bottle-tonic-plus-outline menu-icon text-primary"></i>
          <span class="menu-title">Treatment History</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recommendation">
          <i class="mdi mdi-tray-plus menu-icon text-primary"></i>
          <span class="menu-title">Recommend</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/similarity">
          <i class="mdi mdi-account-search-outline menu-icon text-primary"></i>
          <span class="menu-title">Similarity</span>
        </a>
      </li>
      <li class="nav-item nav-category">Register</li>
      <li class="nav-item">
        <a class="nav-link" href="/sign_up">
          <i class="mdi mdi-account-plus-outline menu-icon text-primary"></i>
          <span class="menu-title">Sign Up</span>
        </a>
      </li>
    </ul>
  </nav>
  

